* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
 
   #form{
    border: 10px solid orange;
    margin: auto;
   }
   .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
   
  #btn{
    color: orange;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    margin-top: 20px;
  }